<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>
    <ul>
      <!-- Loop over all the films in movieList -->
      <% movieList.forEach(function (film) {%>

      <!-- Only show the results that are movies -->
      <!-- (i.e., do not show TV shows) -->
      <% if (film.Type === "movie") { %>

      <!-- Show the title and the imdbID -->
      <li> <%=film.Title%> - <%=film.Year%>
      <br>
        <a href="/results/<%=film.imdbID%>"> <button>Learn More</button></a>
        <form method="POST" action="/later/<%=film.imdbID%>" >
          <input type="hidden" name="id" value="<%= film.imdbID%>">
          <input type="hidden" name="title" value="<%=film.Title%>">
          <input type="submit" value="Add to Favs">
        </form>
      </li>
      <br>

      <!-- Close the `if` -->
      <% } %>

      <!-- Close the `forEach` -->
      <% }) %>
    </ul>
  </body>
</html>
